## Импорт библиотеки

In [50]:
import pandas as pd

## Читаем файл

In [51]:
df = pd.read_csv("../data/auto.csv")
df

      ID     CarNumber    Make_n_model  Refund    Fines  History
0      0  Y163O8161RUS      Ford Focus     2.0   3200.0      NaN
1      1   E432XX77RUS    Toyota Camry     1.0   6500.0      NaN
2      2   7184TT36RUS      Ford Focus     1.0   2100.0      NaN
3      3  X582HE161RUS      Ford Focus     2.0   2000.0      NaN
4      4  E34877152RUS      Ford Focus     2.0   6100.0      NaN
..   ...           ...             ...     ...      ...      ...
926  926  Y163O8161RUS      Ford Focus     2.0   1600.0      NaN
927  927  M0309X197RUS      Ford Focus     1.0  22300.0      NaN
928  928  O673E8197RUS      Ford Focus     2.0    600.0      NaN
929  929  8610T8154RUS      Ford Focus     1.0   2000.0      NaN
930  930  H419XE197RUS  Toyota Corolla     2.0      NaN      2.0

[931 rows x 6 columns]

## Делаем колонку ID индексом

In [52]:
df = df.set_index("ID")
df

        CarNumber    Make_n_model  Refund    Fines  History
ID
0    Y163O8161RUS      Ford Focus     2.0   3200.0      NaN
1     E432XX77RUS    Toyota Camry     1.0   6500.0      NaN
2     7184TT36RUS      Ford Focus     1.0   2100.0      NaN
3    X582HE161RUS      Ford Focus     2.0   2000.0      NaN
4    E34877152RUS      Ford Focus     2.0   6100.0      NaN
..            ...             ...     ...      ...      ...
926  Y163O8161RUS      Ford Focus     2.0   1600.0      NaN
927  M0309X197RUS      Ford Focus     1.0  22300.0      NaN
928  O673E8197RUS      Ford Focus     2.0    600.0      NaN
929  8610T8154RUS      Ford Focus     1.0   2000.0      NaN
930  H419XE197RUS  Toyota Corolla     2.0      NaN      2.0

[931 rows x 5 columns]

## Считаем кол-во наблюдений

In [53]:
df.count()

CarNumber       931
Make_n_model    931
Refund          914
Fines           869
History          82
dtype: int64

## Удаляем дубликаты по CarNumber, Make_n_model, Fines — оставляем последние

In [54]:
df.drop_duplicates(subset=["CarNumber", "Make_n_model", "Fines"], keep="last", inplace=True)
df

        CarNumber    Make_n_model  Refund    Fines  History
ID
0    Y163O8161RUS      Ford Focus     2.0   3200.0      NaN
1     E432XX77RUS    Toyota Camry     1.0   6500.0      NaN
2     7184TT36RUS      Ford Focus     1.0   2100.0      NaN
3    X582HE161RUS      Ford Focus     2.0   2000.0      NaN
5    92918M178RUS      Ford Focus     1.0   5700.0      NaN
..            ...             ...     ...      ...      ...
926  Y163O8161RUS      Ford Focus     2.0   1600.0      NaN
927  M0309X197RUS      Ford Focus     1.0  22300.0      NaN
928  O673E8197RUS      Ford Focus     2.0    600.0      NaN
929  8610T8154RUS      Ford Focus     1.0   2000.0      NaN
930  H419XE197RUS  Toyota Corolla     2.0      NaN      2.0

[725 rows x 5 columns]

## Снова выводим кол-во

In [56]:
df.count()

CarNumber       725
Make_n_model    725
Refund          713
Fines           665
History          65
dtype: int64

## Считаем пропуски по столбцам

In [57]:
print(df.isna().sum())

CarNumber         0
Make_n_model      0
Refund           12
Fines            60
History         660
dtype: int64

## Удаляем столбцы с более чем 500 пропущенными значениями

In [58]:
df = df.dropna(thresh=len(df) - 500, axis=1)
print(df.isna().sum())

CarNumber        0
Make_n_model     0
Refund          12
Fines           60
dtype: int64

## Заполняем пропуски в Refund предыдущим значением

In [59]:
df.loc[:, "Refund"] = df["Refund"].ffill()
print(df.isna().sum())

CarNumber        0
Make_n_model     0
Refund           0
Fines           60
dtype: int64

## Заполняем пропуски в Fines средним значением

In [60]:
df.loc[:, "Fines"] = df["Fines"].fillna(df["Fines"].mean())
print(df.isna().sum())

CarNumber       0
Make_n_model    0
Refund          0
Fines           0
dtype: int64

In [47]:
df.loc[:, "Refund"] = df["Refund"].ffill()
print(df.isna().sum())

CarNumber       0
Make_n_model    0
Refund          0
Fines           0
dtype: int64

## Разделить Make_n_model на Make и Model

In [61]:
df[['Make', 'Model']] = df['Make_n_model'].apply(lambda x: pd.Series(x.split(' ', 1)))
df

        CarNumber    Make_n_model  Refund         Fines    Make    Model
ID
0    Y163O8161RUS      Ford Focus     2.0   3200.000000    Ford    Focus
1     E432XX77RUS    Toyota Camry     1.0   6500.000000  Toyota    Camry
2     7184TT36RUS      Ford Focus     1.0   2100.000000    Ford    Focus
3    X582HE161RUS      Ford Focus     2.0   2000.000000    Ford    Focus
5    92918M178RUS      Ford Focus     1.0   5700.000000    Ford    Focus
..            ...             ...     ...           ...     ...      ...
926  Y163O8161RUS      Ford Focus     2.0   1600.000000    Ford    Focus
927  M0309X197RUS      Ford Focus     1.0  22300.000000    Ford    Focus
928  O673E8197RUS      Ford Focus     2.0    600.000000    Ford    Focus
929  8610T8154RUS      Ford Focus     1.0   2000.000000    Ford    Focus
930  H419XE197RUS  Toyota Corolla     2.0   8594.586466  Toyota  Corolla

[725 rows x 6 columns]

## Удаляем столбец Make_n_model

In [62]:
df.drop(columns="Make_n_model", inplace=True)
df

        CarNumber  Refund         Fines    Make    Model
ID
0    Y163O8161RUS     2.0   3200.000000    Ford    Focus
1     E432XX77RUS     1.0   6500.000000  Toyota    Camry
2     7184TT36RUS     1.0   2100.000000    Ford    Focus
3    X582HE161RUS     2.0   2000.000000    Ford    Focus
5    92918M178RUS     1.0   5700.000000    Ford    Focus
..            ...     ...           ...     ...      ...
926  Y163O8161RUS     2.0   1600.000000    Ford    Focus
927  M0309X197RUS     1.0  22300.000000    Ford    Focus
928  O673E8197RUS     2.0    600.000000    Ford    Focus
929  8610T8154RUS     1.0   2000.000000    Ford    Focus
930  H419XE197RUS     2.0   8594.586466  Toyota  Corolla

[725 rows x 5 columns]

## Сохраняем в JSON-файл в нужном формате

In [63]:
df.to_json("../data/auto.json", orient="records")

## Чеклист

In [64]:
df2= pd.read_json("../data/auto.json")

In [65]:
df2.count()

CarNumber    725
Refund       725
Fines        725
Make         725
Model        716
dtype: int64

In [66]:
df2["Fines"].mean()

np.float64(8594.586466165412)

In [67]:
df2["Refund"].mean()

np.float64(1.5172413793103448)